In [1]:
# 필요한 라이브러리 불러오기
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

# 데이터 불러오기
df = pd.read_csv('Meteorite_Landings_changed_data.csv')

df.head(5)

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775, 6.08333)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.18333, 10.23333)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.21667, -113.0)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.88333, -99.9)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.16667, -64.95)"

In [2]:
# 'Relict' 클래스 제외
df = df[df['recclass'] != 'Relict']

# 필요한 특성 선택
X = df[['mass', 'year']]
y = df['recclass']

# 범주형 특성 One-Hot Encoding
X = pd.get_dummies(X, columns=['year'], drop_first=True)

# 데이터 분할 (학습 데이터와 테스트 데이터)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 분류 모델 학습
param_grid = {
    'n_estimators': [100, 200, 300],  # 다양한 트리 개수 시도
    'max_depth': [10, 20, 30],  # 다양한 트리 최대 깊이 시도
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'max_features': ['auto', 'sqrt']
}

In [ ]:
grid_search = GridSearchCV(estimator=RandomForestClassifier(random_state=42),
                           param_grid=param_grid, cv=3, n_jobs=-1, verbose=2)

grid_search.fit(X_train, y_train)

# 최적의 모델 선택
best_model = grid_search.best_estimator_

Fitting 3 folds for each of 162 candidates, totalling 486 fits

C:\Users\User\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=3.
  warnings.warn(

In [ ]:
# 분류 모델 평가
y_pred = best_model.predict(X_test)
report = classification_report(y_test, y_pred)
print(report)

In [14]:
from sklearn.metrics import accuracy_score

# 모든 테스트 데이터에 대한 예측 수행
y_pred = clf.predict(X_test)

# 정확도 계산
accuracy = accuracy_score(y_test, y_pred)
print(f"모델의 정확도: {accuracy:.2f}")

모델의 정확도: 0.21